/*
input[type='submit'] 
button
*/


button, .button {

	padding: rem($pad) rem($pad * 2);
	color: $link-blue;
	border: 1px solid $link-blue;
	fill: $link-blue;
	position: relative;
	display: inline-block;
	cursor: pointer;
	user-select: none; 
	max-width: 100%;

	svg { 
		fill:rgba(white, 0.8); 
	}

	&:hover {
		color: $link-blue-hover;
		border-color: $link-blue-hover;
		svg {
			fill: $link-blue-hover;
		}
	}
}


.inputAddon {
	display:flex;
	&__field { 
		flex:1; 
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
	}
	&__button {  
		border-top-left-radius:0;
		border-bottom-left-radius:0;
		border-left:0;
	} 
}

input[type='submit'] { @extend .button; }
input[type='button'] { @extend .button; }