.textarea {
	background-color:white;
	padding: rem(16);
	border: 1px solid $grey-1;
	outline: none;
	color: black;
	resize:vertical;
	max-width: 100%;
	

	&:focus { box-shadow: inset 0 0 5px $blue; }
}
