/* colors */

$blue-dark:  #0050A5;
$blue: 		 #008ddc;
$blue-light: #00C7FF;

$WL_Blue: $blue;
$WL_Red:		#F25454; 
$WL_Green:		#31D332; 

/* shades of grey */
$off-white:     #f3f7fb;
$grey-e:		#eeeeee;
$grey-d:		#dfe9ef;
$grey-c:		#ced8de;
$grey-b:		#b2d4e4;
$grey-a:		#aaaaaa;
$grey-7:        #7a909a;
$grey-6:		#6f8db9;
$grey-5:		#5e7ca8;
$grey-4:		#4e6a92;
$grey-3:		#375073;
$grey-2:		#223856;
$grey-1:		#131E2D;  //default grey-dark
$text-black: 	rgba(0,0,0,0.87);


$link-blue:     $blue;
$link-blue-hover:     $blue-dark;

$gradient-dark: $blue-dark;
$gradient-mid: $blue;
$gradient-light: $blue-light;

$rule-color: rgba($text-black, 0.5);
$light-rule-color: $grey-7;