.footer {
    background-color: $grey-1;
    color: white;
    margin-top: auto;

    &__bottom {
        padding: rem($pad * 2) 0;
        margin: 0 auto;
    }

    &__copyright {
        padding: rem($pad);
        text-align: center;
        margin: 0;
        font-size: rem(14);
    }

    @include breakpoint(medium){
        &__bottom {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            padding: rem($pad * 2);
        }

        &__copyright {
            text-align: left;
            padding: 0;
        }
    }
}