.header {
    border-bottom: 1px solid $grey-b;

    //default for the various svg icons in the header
    svg {
        width: 1em; height: 1em;
        fill: $link-blue;
        margin: rem($pad);
    }
    input[type="checkbox"], 
    &__search-toggler { opacity: 0; display: none; } //The search toggler is actually just above the header as it has to mutate a bunch of things

    display: flex;
    align-items: center;
    min-height: 62px; // --------------- magic number for absolute nav

    &__menu-toggle { //label
        cursor: pointer;
        svg { display: block; }
    }

    &__title { //div wrapping link
        font-family: $serif;
        font-size: rem(24);
        width: 100%;
        overflow: hidden;
        text-align: center;
    }

    &__nav { //div
        position: absolute;
        top: 62px; bottom: 0; // --------------- magic number for absolute nav
        left: 0; right: 0;
        background-color: rgba(white, 0.95);
        padding-top: rem($pad * 10);
        display: none; opacity: 0;
    }

    &__search { //div wrapping form.search
        width: 0;
        overflow: hidden;
    }

    &__search-toggle { //label
        cursor: pointer;
        &-magnifyer { display: block; } //svg
        &-x { display: none; } //svg
    }

    //============= Main nav mobile toggle on
    &__nav-toggler:checked + .header__nav { 
        display: block; opacity: 1;
    }

    //============= Search form mobile toggle on (wraps the whole header
    &__search-toggler:checked + .header {
        .header__title { width: 0; display: none; }
        .header__search { 
            width: 100%; 
            &-toggle-x { display: block; }
            &-toggle-magnifyer { display: none; }
        }
    }

    //skip tablet and head straight into desktop. Tablet styling is weird and awkward in my opinion. Just, don't go there.
    @include breakpoint(large){
        justify-content: space-between;
        position: relative; //specifically not on small screens for the main nav full screen. Here on larger screens for the search overlay

        &__menu-toggle { display: none; }

        &__title { 
            text-align: left; 
            width: auto; 
            margin-right: auto; 
            padding-left: rem($pad);
        }

        &__nav { 
            position: static; 
            padding-top: 0;
            display: block;
            opacity: 1;
            background-color: transparent;
        }

        &__search { 
            position: absolute; 
            right: 40px; 
            -webkit-box-shadow: 0px 0px 6px 0px rgba(0,76,111,0.4);
            -moz-box-shadow: 0px 0px 6px 0px rgba(0,76,111,0.4);
            box-shadow: 0px 0px 6px 0px rgba(0,76,111,0.4);
            border-radius: 25px;
        }

         &__search-toggle {
             &-x { fill: white !important; } //overriding the svg default set up top
         }

        &__search-toggler:checked + .header {
            background-color: $link-blue;
            .header__title { width: auto; display: block; } //overriding the hiding behaviour from the smaller screen
            .header__search { left: 50%; width: auto; }
        }

    }
}
