.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: rem($pad * 2) 0;
    border-bottom: 1px solid #ccc;
    background-color: $dark-blue;
    color: white;

    &__col {
        text-align: center;
        width: 100%;
        @include nplus1(){
            margin-top: rem($pad * 2);
        }
    }

    @include breakpoint(medium){
        justify-content: space-between;
        padding: 0 rem($pad / 2);

        &__col {
            //padding between matches side padding
            padding: 0 rem($pad / 2);

            +.header__col {
                text-align: right;
            }

            &--search {
                margin-left: auto; //pushes the search over to the right
            }
        }
    }
}