//nav
.nav--footer.nav {
    width: 100%;

    //defaults
    ul { margin: 0; padding: 0; }
    li { margin: 0; padding: 0; }
    a { 
        color: white; 
        display: block;
        font-family: $sans-serif;
        width: 100%;
        text-transform: uppercase;
    }

    //wraps the first level list
    > ul {
        display: flex;
        flex-direction: column;

        //first level links only
        > li {
            margin-top: rem($pad * 2);
            padding-bottom: rem($pad * 3); //space out the bottom border
            border-bottom: 1px solid $light-rule-color;

            > a {
                opacity: 0.8;
                font-size: rem(22);
            }
        }
    }
    
    
    //second level
    ul li ul {
        margin-top: rem($pad); //give it some space from it's parent / title

        li {
            + li {
                margin-top: rem($pad);
            }
        }
            a {
                font-size: rem(16);
            }
    }

    @include breakpoint(large){
        > ul {
            flex-direction: row;
            justify-content: space-between;
            align-content: flex-start;
        }
    }
}