.post-detail {
    padding-top: rem($pad * 4);

    &__header {
        max-width: $site-width;
        margin: 0 auto rem($pad * 3);
        border-bottom: 1px solid $rule-color;
    }
    &__body {
        max-width: $site-width;
        margin: 0 auto;
    }
}