.post-list {
    display: flex;
    flex-wrap: wrap;
    align-items: streatch;
    max-width: 2000px;
    margin: 0 auto;

    &__post {
        display: flex;
        flex-direction: column;
        padding: rem($pad * 2);
        width: 100%;

        &-header {
            margin-bottom: rem($pad);
        }
            &-title { //h2
                font-weight: bold;
                font-size: rem(28);
            }
        
        &-body {
            
        }

        &-footer {
            margin-top: auto;
            border-bottom: 1px solid $rule-color;
        }

        @include breakpoint (medium){
            width: 50%;
        }
        @include breakpoint (large){
            width: 33%;
        }
        @include breakpoint (super){
            width: 25%;
        }
    }
}