//nav
.main-nav {
    text-align: left;
    
    ul {
        margin: 0;
        padding: 0;
        //border-top: 1px solid rgba($rule-color, 0.1);
        border-bottom: 1px solid rgba($rule-color, 0.1);
    }
    
        li {
            margin: 0;
            padding: 0;
            font-weight: bold;
            border-top: 1px solid rgba($grey-6, 0.2);
        }

            a {
                width: 100%;
                display: flex;
                justify-content: space-between;
                padding: rem($pad * 1.5) rem($pad);
                text-transform: uppercase;
            }

                &__link-text {

                }
                &__link-arrow {
                    svg {
                        width: 1em; height: 1em;
                    }
                }
    
    //second level
    ul li ul {
        padding-left: rem($pad * 2);

        li { 
            font-weight: normal;
        }
    }

    //third level
    ul li ul li ul {
        
        li { 
            a { text-transform: none; }
        }
    }

    //fourth level
    ul li ul li ul li ul {
        
    }

}