//nav
.main-nav {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    //wraps all (& all uls)
    ul {
        margin: 0;
        padding: 0;
    }

    > ul {
        //height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
        //first level links (all lis)
        li {
            margin: 0;
            padding: 0;

            + li {
                margin-top: rem($pad * 4);
            }
        }

            //wraps the text and the arrow
            a {
                display: block;
                line-height: 1;
                font-family: $serif;
                width: 100%;
                padding: 0 rem($pad);
                font-size: rem(32);
            }
    
    //second level
    ul li ul li {
        margin-top: rem($pad);

        a { 
            font-size: rem(18);
        }
    }

    @include breakpoint(large){
        height: auto;

        > ul {
            flex-direction: row;
            align-items: center;
            width: 100%;
            max-width: 900px;
        }

        //main menu "boxes"
        li {

            + li {
                margin-top: 0;
            }
        }

        a {
            font-size: rem(16);
            font-weight: bold;
            font-family: $sans-serif;
            text-transform: uppercase;
            padding: rem($pad * 2) rem($pad * 3);
        }

        //second level - no longer, for now
        ul li ul { display: none; }
        // ul li ul li {

        //     a {
        //         text-transform: capitalize;
        //         font-size: rem(16);
        //         padding: rem($pad) 0;
        //     }
        // }
    }
}