.page-hero {
    text-align: center;
    padding: rem($pad * 7) rem($pad) rem($pad * 5);
    color: white;
    //position: relative; //these two to help with the video
    //overflow: hidden;

    @include defaultgradient();
    
    &__video-expander-checkbox { //input checkbox just above the page-hero, to toggle the video
        opacity: 0; display: none;
    }

    &__title {
        display: block;
        margin-bottom: rem($pad * 2);
    }

    &__sub-title {
        
    }

    &__button { //label for checkbox #video-expander which is just above the page hero
        display: inline-block;
        background-color: transparent;
        border: 1px solid white;
        padding: rem($pad) rem($pad * 2);
        margin-bottom: rem($pad);
        cursor: pointer;

        &-text {
            color: white;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        svg {
            width: rem(18);
            height: rem(18);
            fill: white;
            display: inline-block;
            vertical-align: middle;
        }
    }

    &__video {
        position: absolute;
        z-index: 2;
        top: rem(100);
        left: 0; right: 0;
        text-align: middle;
        transform: translateY(-1000%);
        opacity: 0;
        transition: opacity 0.2s ease;

        iframe {
            display: inline-block;
            max-width: 100%;
        }
    }

    &__turn-off-the-lights {
        position: absolute;
        z-index: 1;
        top: 0; bottom: 0;
        left: 0; right: 0;
        background-color: rgba(black, 0);
        opacity: 0;
        transform: translateY(-1000%);
        transition: opacity 0.2s ease;
    }

    //small link under the button linking to a more in depth description of WL
    &__link { //a
        font-style: italic;
        font-family: sans-serif;
        display: block;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

//video playing mode!
.page-hero__video-expander-checkbox:checked + .page-hero {
    .page-hero {
        &__video {
            transform: translateY(0);
            opacity: 1;
        }
        &__turn-off-the-lights {
            transform: translateY(0);
            background-color: rgba(black, 0.6);
            opacity: 0.6;
        }
    }
}