.page-hero {
    text-align: center;
    padding: rem($pad * 7) rem($pad) rem($pad * 5);

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#005adc+0,00cedc+100 */
    background: $a2; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  $a2 0%, $a4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  $a2 0%,$a4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  $a2 0%,$a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$a2}', endColorstr='#{$a4}',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;

    &__title {
        display: block;
        margin-bottom: rem($pad * 2);
    }

    &__button {
        display: inline-block;
        background-color: transparent;
        border: 1px solid white;
        padding: rem($pad) rem($pad * 2);
        margin-bottom: rem($pad);

        &-text {
            color: white;
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
        }

        svg {
            width: rem(18);
            height: rem(18);
            fill: white;
            display: inline-block;
            vertical-align: middle;
        }
    }

    //small link under the button linking to a more in depth description of WL
    &__link { //a
        font-style: italic;
        font-family: sans-serif;
        display: block;
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}