.post-meta {
    font-size: rem(18);
    display: flex;
    justify-content: space-between;
    font-style: italic;
    font-family: $serif;

    &__left {

    }

    &__right {
        text-align: right;
    }
}