.searchform { //form
    position: relative;
    width: 100%;
    font-size: rem(20);
    background: white;
    border: 1px solid $link-blue;
    border-radius: 50px;

    &__label {
        padding: rem($pad) rem($pad * 2);
        display: block;
    }
        &__label-text {

        }

        &__input {
            padding: 0;
            width: 100%;
            display: block;
        }

    &__submit {//button
        position: absolute;
        right: rem($pad);
        top: 0;
        bottom: 0;

        svg {
            fill: $link-blue;
        }
    }
}