.social-icons-row {
    display: flex;
    padding: rem($pad / 2);
    justify-content: center;

    &__icon {
        padding: rem($pad / 2);
        svg { fill: rgba(white, 0.8); }
        &:hover { svg { fill: white; }}
    }
}